@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  background: url("../../image/main1.jpg") center / cover;
}

@import "../weather-block";
@import "../information-block";
@import "../search-history";